<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<title>Doctor CMS | {{ form_name }}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static "account/images/icons/favicon.ico" %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "account/vendor/bootstrap/css/bootstrap.min.css" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "account/fonts/font-awesome-4.7.0/css/font-awesome.min.css" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "account/fonts/Linearicons-Free-v1.0.0/icon-font.min.css" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "account/vendor/animate/animate.css" %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static "account/vendor/css-hamburgers/hamburgers.min.css" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "account/vendor/animsition/css/animsition.min.css" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "account/vendor/select2/select2.mi n.css" %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static "account/vendor/daterangepicker/daterangepicker.css" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "account/css/util.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "account/css/main.css" %}">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-50 p-b-90">
				<form class="login100-form validate-form flex-sb flex-w" method="post">
					<span class="login100-form-title p-b-51">
						{{ form_name }}
					</span>

                    {% csrf_token %}


                    {% for field in form %}
                        {{ field.errors }}
                        <div class="wrap-input100 validate-input m-b-16" data-validate = "Username is required">
						    <label for="{{ field.id_for_label }}" class="sr-only">{{ field.lable }}</label>
                            {{ field  }}
						    <span class="focus-input100"></span>
					    </div>
                    {% endfor %}

					
{#					<div class="flex-sb-m w-full p-t-3 p-b-24">#}
{#						<div class="contact100-form-checkbox">#}
{#							<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">#}
{#							<label class="label-checkbox100" for="ckb1">#}
{#								Remember me#}
{#							</label>#}
{#						</div>#}
{##}
{#						<div>#}
{#							<a href="#" class="txt1">#}
{#								Forgot?#}
{#							</a>#}
{#						</div>#}
{#					</div>#}

					<div class="container-login100-form-btn m-t-17">
						<button class="login100-form-btn" type="submit">
							Login
						</button>
					</div>

				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="{% static "account/vendor/jquery/jquery-3.2.1.min.js" %}"></script>
<!--===============================================================================================-->
	<script src="{% static "account/vendor/animsition/js/animsition.min.js" %}"></script>
<!--===============================================================================================-->
	<script src="{% static "account/vendor/bootstrap/js/popper.js" %}"></script>
	<script src="{% static "account/vendor/bootstrap/js/bootstrap.min.js" %}"></script>
<!--===============================================================================================-->
	<script src="{% static "account/vendor/select2/select2.min.js" %}"></script>
<!--===============================================================================================-->
	<script src="{% static "account/vendor/daterangepicker/moment.min.js" %}"></script>
	<script src="{% static "account/vendor/daterangepicker/daterangepicker.js" %}"></script>
<!--===============================================================================================-->
	<script src="{% static "account/vendor/countdowntime/countdowntime.js" %}"></script>
<!--===============================================================================================-->
	<script src="{% static "account/js/main.js" %}"></script>

</body>
</html>