<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Doctor v1.0</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static "dashboard/css/style.min.css" %}">


</head>
<body>

<header class="header">
    <div class="container">
        <h1>Doctor CMS</h1>

        <div class="user_profile">С возвращением, <a href="{% url "profile" %}">{{ request.user.username }}</a> [<a
                href="{% url 'logout' %}">Выйти</a>]
        </div>

        <button id="create">Create new</button>
    </div>
</header>

<section class="board">
    <div class="container cards_container board__cards">

    </div>
</section>

<script src="{% static "dashboard/js/script.min.js" %}"></script>


</body>
</html>
